@import 'https://fonts.googleapis.com/css?family=Roboto';

body {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

    body.lambo {
        background-color: #FFF9C4;
    }

    body.honda {
        background-color:;
    }

    body.toyota {
        background-color:;
    }

h1 {
    font-weight: bold;
    color: #E53935;
}

td {
    padding: 10px;
}

hr {
    border-width: thin;
    width: 80%;
    position: absolute;
    bottom: 35px;
    left: 0;
    right: 0;
}

    hr.menu {
        border-width: 3px;
        border-style: solid;
        color: #757575;
        bottom: 250px;
        width: 90%;
    }

footer {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 10px;
}

a {
    color: inherit;
    text-decoration: none;
}

#menu{
    padding:35px;
    position:absolute;
    left:0;
    right:0;
    bottom:200px;
}