        @import 'https://fonts.googleapis.com/css?family=Roboto';

        h1 {
            text-align: center;
            color: #388E3C;
        }

        table {
            display: grid;
            width: 1000px;
            table-layout: fixed;
            text-align: center;
            border: 0px solid white;
        }

        td {
            background-color: #BDBDBD;
            height: 90px;
        }

        tr {
        }

        th {
            text-align: center;
            padding: 10px;
            background-color: #FFCCBC;
            border: 2px dashed white;
            color: #FF5722;
        }

        .holiday {
            position:relative;
            padding-bottom:2px;
        }

        .roshana{
            background-color:#FFD54F;
            color:#EF6C00;
        }

        .kippur{
            background-color:#81C784;
            color:#2E7D32;
        }

        .sukot{
            background-color:#4DD0E1;
            color:#00838F;
        }

        .shabat {
            color: #FF0000;
            background: #757575;
        }

        .notOctober {
            color: #737373;
            background-color: #d9d9d9;
        }

        body {
            font-family: 'Roboto', sans-serif;
        }

        footer {
            margin-top: 200px;
            text-align: center;
            font-size: small;
        }

        a{
            color:inherit;
        }

        #notOctoberShabat {
            background-color: #9E9E9E;
        }

        #sukotshabat{
            background-color:#6599A0;
        }