        @import 'https://fonts.googleapis.com/css?family=Roboto';

        h1 {
            text-align: center;
            color: #388E3C;
        }

        table {
            display: grid;
            width: 1000px;
            table-layout: fixed;
            text-align: center;
            border: 0px solid black;
        }

        td {
            padding: 1px 10px 50px 10px;
            background-color: #BDBDBD;
            height: 50px;
        }

        tr {
        }

        th {
            text-align: center;
            padding: 10px;
            background-color: #FFCCBC;
            border: 2px solid black;
            color: #FF5722;
        }

        .holiday {
            color: blue;
        }

        .roshana{
            background-color:#FFD54F;
        }

        .kippur{
            background-color:#81C784;
        }

        .sukot{
            background-color:#4DD0E1;
        }

        .shabat {
            color: #FF0000;
            background: #757575;
        }

        .notOctober {
            color: #737373;
            background-color: #d9d9d9;
        }

        body {
            font-family: 'Roboto', sans-serif;
        }

        footer {
            margin-top: 200px;
            text-align: center;
            font-size: small;
        }

        a{
            color:inherit;
        }

        #notOctoberShabat {
            background-color: #a6a6a6;
        }

        #sukotshabat{
            background-color:#6599A0;
        }